/*! basicss | MIT License | https://github.com/stegosource/basicss */

html {
  /* Use better box model */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Use better box model */
  box-sizing: inherit;
}

body {
  /* Remove default body margin */
  margin: 0;

  /* Improve consistency of default fonts across browsers */
  font: 16px/1.5 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';

  /* Smoother font rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
figure,
blockquote {
  /* Remove margin top */
  margin: 0 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Remove margin top */
  margin: 0 0 0.5rem;

  /* Nicer spacing for headings */
  line-height: 1.25;
}

p:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
figure:last-child,
blockquote:last-child {
  /* Remove margin-bottom for last instance of elements */
  margin-bottom: 0;
}
