:root {
  color-scheme: light;
}
html {
  box-sizing: border-box;
  block-size: 100%; /* full-height content */
  text-rendering: optimizeSpeed;
  /* -webkit-text-size-adjust: 100%; Prevent adjustments of font size after orientation changes in iOS */
  word-break: break-word;
}
/* html:focus-within {
  scroll-behavior: smooth;
} */
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  line-height: calc(4px + 2ex);
}
:focus {
  outline: var(--outline-width, 3px) solid transparent; /* For Windows high contrast mode */
  box-shadow: 0px 0px 0px var(--outline-width, 3px) var(--outline-color, Highlight);
}
body {
  min-block-size: 100%; /* full-height content */
  font-family: system-ui, sans-serif;
}
:where(h1, h2, h3, h4, h5, h6, p, ol, ul, dl, table, pre, hr, blockquote, details) +
:where(h1, h2, h3, h4, h5, h6, p, ol, ul, dl, table, pre, hr, blockquote, details) {
  margin-block-start: 1rem;
}
b, strong {
  font-weight: bold;
}
ul,
ol {
  /* list-style-type: none; */
  padding-inline-start: 1.5rem;
}
/* :where removes specificity from :not */
:where(input:not(
  [type="checkbox"],
  [type="radio"],
  [type="file"],
  [type="image"],
  [type="color"],
  [type="button"],
  [type="reset"],
  [type="submit"]
)),
select,
textarea,
table,
meter,
progress,
video,
audio,
iframe {
  inline-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
pre {
  white-space: pre-wrap;
}
@media (prefers-reduced-motion: reduce) {
  /* html:focus-within {
   scroll-behavior: auto;
  } */
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}