button,
input,
select,
textarea {
  font: inherit;
  letter-spacing: inherit;
  /* color: inherit; */
}
fieldset {
  border: 0;
}
button,
:where(input:not(
  [type="file"],
  [type="image"]
)),
select,
textarea {
  border: 1px solid;
}
select {
  appearance: none;
  padding-right: 2em;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="8"><path fill="black" d="M0 0 H16 L8 8 Z"/></svg>') right .6em center / .8em no-repeat, #fff;

}
textarea {
  resize: vertical;
}
:disabled {
  border-style: dotted;
  cursor: not-allowed;
}
[readonly] {
  border-style: dashed;
}