img,
figure,
iframe,
svg {
  vertical-align: middle; /* removes weird space below images */
  max-inline-size: 100%;
  height: auto;
}
svg {
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0;
}
/* a svg,
button svg {
  pointer-events: none;
} */
video,
audio {
  inline-size: 100%;
}