h1, .h1 {
  font-size: clamp(2rem, calc(1rem + 6vw), 3rem);
}
h2, .h2 {
  font-size: clamp(1.75rem, calc(1rem + 5vw), 2.5rem);
}
h3, .h3 {
  font-size: clamp(1.5rem, calc(1rem + 4vw), 2rem);
}
h4, .h4 {
  font-size: clamp(1.375rem, calc(1rem + 3vw), 1.5rem);
}
h5, .h5 {
  font-size: 1.25rem;
}
h6, .h6 {
  font-size: 1.125rem;
}
